<div id="wrapper">        

    <div id="page-wrapper">

        <div class="container-fluid">

            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        NASA Goddard Space Flight Center
                    </h1>
                    <ol class="breadcrumb">
                        <li class="active">
                            <i class="fa fa-flickr"></i> Total Photos: <span class="photo-counter" ng-bind="photoCount"></span>
                        </li>
                    </ol>
                </div>
            </div>

            <div class="row btn-section">
                <div class="col-xs-4 col-md-2">
                    <button class="btn btn-black btn-block" ng-click="allPhotos()">
                        All
                    </button>
                </div>

                <div class="col-xs-4 col-md-2">
                    <button class="btn btn-green btn-block" ng-click="photosByColor(5)">
                        Green
                    </button>
                </div>

                <div class="col-xs-4 col-md-2">
                    <button class="btn btn-yellow btn-block" ng-click="photosByColor(4)">
                        Yellow
                    </button>
                </div>

                <div class="col-xs-4 col-md-2">
                    <button class="btn btn-red btn-block" ng-click="photosByColor(0)">
                        Red
                    </button>
                </div>
                
                <div class="col-xs-4 col-md-2">
                    <button class="btn btn-blue btn-block" ng-click="photosByColor(8)">
                        Blue
                    </button>
                </div>
                
                <div class="col-xs-4 col-md-2">
                    <button class="btn btn-purple btn-block" ng-click="photosByColor(9)">
                        Purple
                    </button>
                </div>
                
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="col-lg-4 col-md-4 col-xs-12 thumb" ng-repeat="photo in photos">
                        <img class="img-responsive" ng-src="{{photo.url}}" alt="Image M.I.A">
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
